    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    b {
        margin: 0;
    }
    
    input,
    button {
        outline: 0!important;
    }
    
    body {
        background-color: #1D1D1D;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }
    
    .wrapper {
        width: 100%;
        overflow: hidden;
        /* height: 5000px; */
    }
    
    .container {
        max-width: 1360px;
    }
    /* dropdown */
    
    .dropbtn {
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF!important;
        cursor: pointer;
        padding: 15px;
        background-color: transparent;
    }
    
    .dropdown-content a {}
    
    .dropdown-content a:hover {
        color: white;
        background-color: #1D1D1D
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 200px;
        z-index: 1;
    }
    
    .drop__arrowBottom {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
    /* Links inside the dropdown */
    
    .dropdown-content a {
        font-family: 'Inter';
        color: black;
        font-weight: 800;
        font-size: 15px;
        line-height: 24px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    
    .dropdown-content a:hover {}
    /* Show the dropdown menu on hover */
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* navbar */
    
    .header {}
    
    .navbars {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }
    
    .navbar-logo {}
    
    .logo-navbar {}
    
    .navs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    
    .navs__item {}
    
    .navs__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF!important;
    }
    
    .tell__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #0AEB06!important;
    }
    
    .tell {
        background: #000000;
        padding: 30px;
    }
    
    .ru-Flag {}
    /* navbar */
    /* main-one */
    
    .main {}
    
    .main__one {
        width: 100%;
        height: 629px;
        background-image: url(../assets/icons/back-one.svg);
        padding-top: 261px;
        background-size: cover;
        background-repeat: no-repeat
    }
    
    .title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        width: 401px;
        margin: auto;
        margin-bottom: 53px;
        text-align: center;
    }
    
    .btn {
        box-shadow: none!important;
    }
    
    .container-fluid {
        padding: 0;
        max-width: 1440px;
    }
    
    .main__one-btn {
        border: 5px solid #FFFFFF;
        background: transparent;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        /* identical to box height */
        letter-spacing: -0.02em;
        color: #FFFFFF!important;
        height: 97px;
        width: 450px;
        display: block;
        margin: auto;
        border-radius: 55px;
    }
    /* main-one */
    /* main-two */
    
    .main__two {}
    
    .main__two-box {
        width: 100%;
        padding: 0 0 87px 0;
    }
    
    .main__two-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 87px;
        justify-content: space-between;
    }
    
    .main__two-list {
        width: 24.5%;
        height: 217px;
        margin: 0.25% 0;
    }
    
    .main__two-img {
        width: 100%;
        height: 100%;
    }
    
    .main__two-link {
        margin: 0 auto;
        display: block;
        width: 840px;
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF!important;
        padding: 30px 0;
        background: #000000;
        border-radius: 50px;
    }
    /* main-two */
    /* ==========================main-three=========================== */
    
    .main__three {
        width: 100%;
        padding: 108px 0;
        background-image: url(../assets/icons/backTwo.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .main__three-title {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;
    }
    /* ==========================main-three=========================== */
    /* ============================main-four========================== */
    
    .main__four {
        padding: 64px 0 111px 0;
        text-align: center;
    }
    
    .main__four-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        display: inline-flex;
        margin-bottom: 25px;
        /* justify-content:space-around; */
    }
    
    .main__four-it {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: -0.02em;
        color: #0AEB06;
        margin-left: 15px;
    }
    
    .main__four-text {
        max-width: 793px;
        margin: 0 auto;
        font-family: 'Work Sans';
        font-style: normal;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 84px;
    }
    
    .main__four-form {}
    
    .main__four-inputname {
        width: 639px;
        background: #D9D9D9;
        /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
        border-radius: 25px;
        padding: 31px 23px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 65px;
    }
    
    .main__four-numbers {
        width: 639px;
        display: flex;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        padding: 17px 15px;
        margin: auto;
        margin-bottom: 65px;
    }
    
    .main__four-flagbox {
        width: 165px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-items: center;
        background: rgba(149, 146, 146, 0.55);
        border-radius: 55px;
        justify-content: space-between;
    }
    
    .main__four-imgflag {}
    
    .main__four-telnums {}
    
    .main__four-inputtel {
        background-color: transparent;
        width: 100%;
        outline: 0;
        border: transparent;
        padding-left: 23px;
    }
    
    .main__four-links {}
    
    .main__four-link {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000000!important;
        display: block;
        width: 909px;
        background: #FFFFFF;
        border-radius: 55px;
        padding: 31px 27px;
        margin: auto;
    }
    /* ============================main-four========================== */
    /* =========---------------========----footer-----=========--------============= */
    
    .footer {
        padding-top: 109px;
        padding-bottom: 100px;
        background-color: #010101;
    }
    
    .row {}
    
    .col-5 {}
    
    .footer__locbox {
        width: 100%;
    }
    
    .footer__work {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    
    .footer__work-start {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    
    .footer__work-end {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .footer__email-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .footer__email-text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF !important;
        margin-bottom: 15px;
    }
    
    .footer__phone-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .footer__phone-text {
        margin-bottom: 15px;
    }
    
    .footer__phone-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        margin-bottom: 15px;
    }
    
    .footer__phone-img {}
    
    .footer__phone-numbers {
        color: #0AEB06 !important;
    }
    
    .footer__adres-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .footer__adress-text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    
    .footer__website {
        width: 405px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 20px;
        margin-left: 40px;
        margin-bottom: 37px;
    }
    
    .footer__website-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000000 !important;
    }
    
    .footer__website-img {}
    
    .footer__website-text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000000 !important;
    }
    
    .footer__networks {
        width: 405px;
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
    }
    
    .footer__networks-link {}
    
    .footer__networks-link-img {}
    
    .footer__map {
        width: 845px;
        height: 845px;
        border-radius: 50%;
        position: relative;
    }
    
    .footer__map-location {
        width: 845px;
        height: 845px;
        border-radius: 50%;
    }
    
    .footer__map::before {
        content: '';
        width: 845px;
        height: 845px;
        position: absolute;
        border-top: 35px solid #0AEB06;
        border-left: 10px solid #0AEB06;
        border-radius: 50%;
    }
    
    .footer__partners {
        width: 100%;
        text-align: center;
    }
    
    .footer__partners-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    
    .footer__partners-item {
        display: flex;
        width: 950px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .footer__partners-list {}
    
    .footer__partners-link {}
    
    .footer__parstners-img {
        width: 100%;
    }
    /* =========---------------========----footer-----=========--------============= */
    /* ====-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-skidka html=--=-=-=-=-=-=-=-=-=-=-=-===== */
    /* __---____-----_____----___----____---discount----_____--_____-----___-_ */
    
    .discount {
        padding-top: 30px;
    }
    
    .discount__box {
        padding-top: 70px;
        background-image: url(../assets/images/skidkakrug\ \(1\).svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .discount__title {
        padding-left: 75px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 96px;
        line-height: 116px;
        color: #000000;
        display: flex;
        padding-bottom: 119px;
    }
    
    .discount__title-end {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 96px;
        line-height: 116px;
        color: #FFFFFF;
    }
    /* __---____-----_____----___----____---discount----_____--_____-----___-_ */
    /* __---____-----_____----___----____---request----_____--_____-----___-_ */
    
    .request {}
    
    .request__box {
        padding: 137px 0;
    }
    
    .request__card {
        width: 1226px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 62px;
    }
    
    .request__card-imgbox {
        width: 35%;
    }
    
    .request__card-img {
        width: 100%;
    }
    
    .request__card-info {
        width: 65%;
    }
    
    .request__card-titles {
        padding-left: 50px;
    }
    
    .request__card-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;
    }
    
    .request__card-texttitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #0AEB06;
        margin-bottom: 26px;
    }
    
    .request__card-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    .request__card-item {}
    
    .request__card-list {
        color: #FFFFFF;
    }
    
    .request__card-alert {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #0AEB06;
        margin-bottom: 25px;
    }
    
    .request__card-link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000 !important;
        background: #D9D9D9;
        border-radius: 45px;
        padding: 18px 101px;
        width: 337px;
        display: block;
        margin-left: auto;
    }
    
    .request__card-link:hover {
        background-color: #0AEB06;
        color: #FFFFFF !important;
    }
    /* __---____-----_____----___----____---request----_____--_____-----___-_ */
    /* __---____-----_____----___----____---achivki----_____--_____-----___-_ */
    
    .discount__text {
        max-width: 918px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
    }
    /* __---____-----_____----___----____---achivki----_____--_____-----___-_ */
    /* __---____-----_____----___----____---achivki----_____--_____-----___-_ */
    
    .game {}
    
    .game__box {
        text-align: center;
        padding-top: 50px;
    }
    
    .game__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        color: #0AEB06;
        margin-bottom: 78px;
    }
    
    .game__info {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 49px;
        text-align: center;
        color: #FFFFFF;
        max-width: 1037px;
        margin: 0 auto;
        margin-bottom: 58px;
    }
    
    .game__img {
        width: 100%;
    }
    
    .game__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        max-width: 527px;
        margin: 0 auto;
        margin-bottom: 65px;
    }
    
    .game__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #0AEB06 !important;
    }
    /* __---____-----_____----___----____---achivki----_____--_____-----___-_ */
    /* ====-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-skidka html=--=-=-=-=-=-=-=-=-=-=-=-===== */
    /* ====-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-vakansii html=--=-=-=-=-=-=-=-=-=-=-=-===== */
    /*======================  job  ==========================*/
    
    .job {
        padding-bottom: 111px;
    }
    
    .row {}
    
    .col-6 {}
    
    .job__info {
        width: 100%;
    }
    
    .job__title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 45px;
    }
    
    .job__title-codecraft {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #0AEB06;
    }
    
    .job__text-codecraft {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 35px;
        color: #0AEB06;
    }
    
    .job__text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 35px;
    }
    
    .job__item {}
    
    .job__list {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    
    .job__form-box {
        width: 100%;
    }
    
    .job__form {
        width: 100%;
    }
    
    .job__label {
        width: 100%;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 22px;
    }
    
    .job__input {
        width: 100%;
        border: 4px solid #0AEB06;
        border-radius: 10px;
        height: 55px;
        background-color: transparent;
        margin-top: 10px;
        padding-left: 15px;
        margin-top: 10px;
        font-family: 'Work Sans';
        font-size: 20px;
        color: #FFFFFF;
    }
    
    .job__textarea {
        width: 100%;
        height: 199px;
        border: 4px solid #0AEB06;
        border-radius: 10px;
        background-color: transparent;
        margin-top: 10px;
    }
    
    .job__label-cheked {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        margin-bottom: 38px;
    }
    
    .job__input-visibility {
        visibility: hidden;
        width: 0;
    }
    
    .job__input-visibility:checked~.chekedbox {
        background-image: url(../assets/icons/galochka.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #010101;
    }
    
    .chekedbox {
        display: block;
        width: 65px;
        height: 25px;
        border: 3px solid #FFFEFE;
        margin-right: 10px;
    }
    
    .job__button {
        padding: 9px 30px;
        border: 4px solid #0AEB06;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        background-color: transparent;
        margin: 0 auto;
        width: 232px;
        display: block;
    }
    /*======================  job  ==========================*/
    /* ====-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-vakansii html=--=-=-=-=-=-=-=-=-=-=-=-===== */